[submodule "qibo"]
	path = qibo
	url = git@github.com:qiboteam/qibo.git
	shallow = true
	branch = master
[submodule "qibolab"]
	path = qibolab
	url = git@github.com:qiboteam/qibolab.git
	branch = 0.2
[submodule "qibolab_platforms_qrc"]
	path = qibolab_platforms_qrc
	url = git@github.com:qiboteam/qibolab_platforms_qrc.git
	branch = 0.2-qw11qD
[submodule "qibocal"]
	path = qibocal
	url = git@github.com:alecandido/qibocal.git
	branch = qibolab0.2
